body{
    background:  linear-gradient(#f3d8c7, #fbfefb, #efe5dc);
}

header{
    color: #b5838d;
    text-align: center;
    font-size: 20px;
}

nav{
    width: 20%;
    float: left; /* Corre la barra de navegacion a la izquierda */
}
nav a{ /* Modifica los elementos que son links */
    background-color: #ffb4a2;
    border-radius: 10px 0 10px 0;
    color: white;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: block; /* Para que se muestre de forma de bloque */
}
section{
    float: right; /* Corre las secciones a la derecha */
    width: 75%;
    color: #e5989b;
    border-radius: 5px;
    box-shadow: 1px 0 4px rgb(109, 104, 117, .4); /* Agrega una sombra */
    margin-bottom: 5px;
    padding: 15px;
}

aside{
    float: right;
    width: 30%;
    padding: 5px;
    margin: 5px;
    font-style: italic;
    color: #b5838d;
    box-shadow: inset 5px 0 5px -5px #ffcdb2; /* inset es para poner la sombra del lado interno */
}
/* Blur: difuminar
spread: propagar
*/

footer{
    clear: both; /* rompe con los elementos flotados */
    padding: 1px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #b5838d;
}